kanbox_data.json
assets/icons/Icon.png
__pycache__/board_manager.cpython-312.pyc
__pycache__/layout.cpython-312.pyc
app/__pycache__/__init__.cpython-312.pyc
app/.DS_Store
.DS_Store
app/core/__pycache__/__init__.cpython-312.pyc
app/core/__pycache__/app_manager.cpython-312.pyc
app/core/__pycache__/file_manager.cpython-312.pyc
app/core/__pycache__/navigation_manager.cpython-312.pyc
app/core/__pycache__/state_manager.cpython-312.pyc
app/models/__pycache__/__init__.cpython-312.pyc
app/models/__pycache__/board.cpython-312.pyc
app/models/__pycache__/card.cpython-312.pyc
app/models/__pycache__/list_column.cpython-312.pyc
app/models/__pycache__/project.cpython-312.pyc
app/ui/__pycache__/__init__.cpython-312.pyc
app/ui/__pycache__/board_view.cpython-312.pyc
app/ui/__pycache__/card_view.cpython-312.pyc
app/ui/__pycache__/column_view.cpython-312.pyc
app/ui/__pycache__/main_window.cpython-312.pyc
app/ui/__pycache__/sidebar.cpython-312.pyc
assets/__pycache__/styles.cpython-312.pyc
assets/dialogues/__pycache__/add_project_dialogue.cpython-312.pyc
assets/dialogues/__pycache__/delete_card_dialogue.cpython-312.pyc
assets/dialogues/__pycache__/remove_project_dialogue.cpython-312.pyc
assets/dialogues/__pycache__/rename_card_dialogue.cpython-312.pyc
